@model ProductVm

@{
    ViewData["Title"] = "تفاصيل المنتج";
}


<div class="row col-12 content-heade">
    <i class="fa fa-users"></i>
    <h5 class="no-margin">المنتجات</h5>
</div>
<div class="content row">
    <div class="table-head col-7 no-padding">
        <i class="fa fa-street-view icon"></i>
        <h5>عرض المعلومات</h5>
    </div>
    <div class="col-5 button-heade no-padding ">
        <div class="col-12 no-padding no-margin">
            <a asp-action="Index" class="btn button-small" type="submit">
                <i class=" fa fa-list"></i>القائمة
            </a>
        </div>
    </div>

    <div class="row col-12 information-content">
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 nopadding no-margin">
                <div class="col-12 title">البائع</div>
                <label class="col-12 value">@Model.StoreName</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">اسم البضاعة</div>
                <label class="col-12 value">@Model.ProductName</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">الكمية</div>
                <label class="col-12 value">@Model.Qunatity</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">السعر</div>
                <label class="col-12 value">@Model.Price</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">الخصم</div>
                <label class="col-12 value">@Model.Discount</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">الصنف الرئيسي</div>
                <label class="col-12 value">@Model.CategoryLev1</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">الصنف الفرعي</div>
                <label class="col-12 value">@Model.CategoryLev2</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">الخاصية</div>
                <label class="col-12 value">@String.Join(" , ", Model.PropertyLev1)</label>
            </div>
        </div>
        <div class="col-8 col-lg-4 col-md-4 all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">قسم الخاصية</div>
                <label class="col-12 value">@String.Join(" , ", Model.PropertyLev2)</label>
            </div>
        </div>
        <div class="col-12  all-information">
            <div class="col-12 no-padding no-margin">
                <div class="col-12 title">وصف البضاعة</div>
                <label class="col-12 value">@Model.Description</label>
            </div>
        </div>
    </div>
    <a href="../img/product.jpg">

        <div style="background-image: url(/Uploads/ProductImg/@Model.Imgs.FirstOrDefault(i=>i.StartsWith("fav")));" id="img" class="mb imgProduct">
        </div>
    </a>

    <div id="imgBranch" class="mx no-padding no-margin col-12 mb row text-center imgBranch-Container">
        @foreach (var item in Model.Imgs.Where(i => !i.StartsWith("fav")))
        {
            <a class="row col-11 col-lg-5 mx" href="../img/weather.jpg">
                <div href="../img/weather.jpg" style="background-image: url(/Uploads/ProductImg/@item);" class="col-12 imgBranch"></div>
            </a>
        }
    </div>



    <div class="mt mb row col-12 justify-center">
        <a onclick="showDialog(this)" href="#" class="col-5 btn btn-danger ml" data="@Model.ProductName" name="id" value="@Model.ID">
            <i class="pl fa fa-trash"></i>حذف
        </a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="col-5 btn button-small mr">
            <i class="pl fa fa-edit"></i>تعديل
        </a>
    </div>
</div>

<!-- Start Delete Message -->
<div id="dialog" class="dialog">
    <div class="overlay"></div>

    <div class="form-dialog">
        <div class="message">
            <h5>هل أنت متأكد من حذف؟</h5>
            <p id="messageName"></p>
        </div>

        <div class="buttons">
            <a onclick="hideDialog()" href="#" class="col-5 btn btn-secondary">
                <i class="fa fa-arrow-right"></i>
                <span class="no-margin">تراجع</span>
            </a>
            <form  asp-action="delete">
                <input type="hidden" />
                <button onclick="hideDialog()" id=deleteID href="index.html" class="col-5 btn btn-danger">
                    <i class="fa fa-trash"></i>
                    <span class="no-margin">حذف</span>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- End Delete Message -->